@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #ff5126d5;
  }
}
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled {
  background-color: #ff5126ab;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
  background-color: #ff5126ab;
}
/* Hover effects on the NavBar Links */
.nav-item .nav-link:hover {
  color: #b6d7de;
}

#sendButton {
  background-color: #FF5126;
}